<section class="">
  <div class="row">
    <div class="col s4">
      <img src="../../assets/images/mi2.jpeg" width="100%" height="100%">
    </div>
    <div class="col s8">
      <div class="row p-lr-50">
        <div class="col s12"><h4>WareHouse1 Details: </h4></div>
        <div class="col s12"><span class="new badge left m-0">4</span><span class="p-lr-25 grey-text">23,222 Items with $35000 Valuation</span></div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12 f-medium"><strong class="">$ 35000</strong></div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
          <div class="row m-0">
            <div class="col s3 p-l-0"><strong>Location Warehouse:</strong></div>
            <div class="col s9">#313, Sai Vanadana Brundavana, Doddakkanelli-Chikkanayakanahalli Road, Sarjapura Road,Bangalore-5600035</div>
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
          <div class="row m-0">
            <div class="col s3 p-l-0"><strong>Region Covered:</strong></div>
            <div class="col s9">#313, Sai Vanadana Brundavana, Doddakkanelli-Chikkanayakanahalli Road, Sarjapura Road,Bangalore-5600035</div>
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
          <div class="row m-0">
            <div class="col s3 p-l-0"><strong>Seller Details:</strong></div>
            <div class="col s9 br-l p-lr-25">#313, Sai Vanadana Brundavana, Doddakkanelli-Chikkanayakanahalli Road, Sarjapura Road,Bangalore-5600035</div>
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
          <div class="row m-0">
            <div class="col s3 p-l-0"><strong>Item Details:</strong></div>
            <div class="col s9">#313, Sai Vanadana Brundavana, Doddakkanelli-Chikkanayakanahalli Road, Sarjapura Road,Bangalore-5600035</div>
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

    </div>
  </div>
</section>
